<!DOCTYPE html>
<html xmlns:fb="https://ogp.me/ns/fb#" lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta property="og:title" content="{{ page.title | xml_escape }}" />
  <meta property="og:type" content="{{ page.ogtype }}" />
  <meta property="og:url" content="https://scribble.yuyat.jp{{ page.url }}" />
  <meta property="og:image" content="https://scribble.yuyat.jp/avater.jpg" />
  <meta property="og:site_name" content="scribble.yuyat.jp" />
  <meta property="fb:admins" content="100000987494966" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12392004-3']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  <script type="text/javascript" src="https://s.hatena.ne.jp/js/HatenaStar.js"></script>
  <script type="text/javascript">
    Hatena.Star.Token = '3a148f058ce9b9900482fb42d7cd104848f26881';
    Hatena.Star.SiteConfig = {
      'entryNodes': {
        'div.post': {
          'uri': 'h1.article-subject a',
          'title': 'h1.article-subject',
          'container': 'div.hatena-star'
        }
      }
    };
  </script>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div id="content">
    <header>
      <h1 id="site-name"><a href="/"><span class="large">scribble</span>.yuyat.jp</a></h1>
    </header>

    {{ content }}
  </div>
</body>
</html>
